* {
  padding: 0;
  margin: 0;
}
#main {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}
#main::-webkit-scrollbar {
  width: 0px;
}
.first,
.second,
.third {
  height: 100%;
  scroll-snap-align: start;
  overflow: hidden;
}
.first {
  background-color: pink;
}
.second {
  background-color: skyblue;
}
.third {
  background-color: #000;
}
.first_box,
.second_box,
.third_box {
  margin: 10px 10px;
  width: 100px;
  height: 100px;
  background-color: #fff;
}
